@import 'tailwindcss';
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --darkest-gray: rgb(5, 5, 5);
  --very-dark-gray: rgb(10, 10, 11);
  --dark-gray-1: rgb(15, 15, 16);
  --dark-gray-2: rgb(15, 15, 16);
  --almost-black: rgb(18, 18, 18);
  --dark-gray-3: rgb(20, 20, 21);
  --dark-gray-4: rgb(25, 25, 26);
  --border-color: rgb(32, 32, 33);
  --dark-gray-6: rgb(40, 40, 42);
  --dark-gray-7: rgb(45, 45, 47);
  --dark-gray-8: rgb(55, 55, 57);
  --medium-dark-gray: rgb(62, 62, 65);
  --medium-gray: rgb(102, 102, 102);
  --light-gray-1: rgb(117, 117, 117);
  --light-gray-2: rgb(153, 153, 153);
  --light-gray-3: rgb(204, 204, 204);
  --light-gray-4: rgb(217, 217, 217);
  --very-light-gray: rgb(230, 230, 230);
  --near-white: rgb(242, 242, 242);
  --almost-white: rgb(252, 252, 252);
  --image-bg: #0e0e0e;

  --font-Space_Grotesk: 'Space Grotesk', serif;
  --font-IBM_Plex_Mono: 'IBM Plex Mono', monospace;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

[data-theme='light'] {
  --white: rgb(43 54 86);
  --black: rgb(0, 0, 0);
  --darkest-gray: rgb(239 243 255);
  --very-dark-gray: #dde5ff47;
  --dark-gray-1: #d5ddff5c;
  --dark-gray-2: #ccd6ff57;
  --almost-black: #fbfbff6b;
  --dark-gray-3: #b0b7e73b;
  --dark-gray-4: #f3f6ff;
  --border-color: rgb(213 213 213);
  --dark-gray-6: rgb(205 205 208);
  --dark-gray-7: rgb(190, 190, 210);
  --dark-gray-8: rgb(55, 55, 57);
  --medium-dark-gray: rgb(62, 62, 65);
  --medium-gray: #6b6d8396;
  --light-gray-1: rgb(161 172 205);
  --light-gray-2: rgb(134 137 165);
  --light-gray-3: rgb(90 94 150);
  --light-gray-4: rgb(57 60 80);
  --very-light-gray: rgb(25 35 51);
  --near-white: rgb(242, 242, 242);
  --image-bg: #dde6ff6e;
  --font-Space_Grotesk: 'Space Grotesk', serif;
  --font-IBM_Plex_Mono: 'IBM Plex Mono', monospace;
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-darkest-gray: var(--darkest-gray);
  --color-very-dark-gray: var(--very-dark-gray);
  --color-dark-gray-1: var(--dark-gray-1);
  --color-dark-gray-2: var(--dark-gray-2);
  --color-almost-black: var(--almost-black);
  --color-dark-gray-3: var(--dark-gray-3);
  --color-dark-gray-4: var(--dark-gray-4);
  --color-border-color: var(--border-color);
  --color-dark-gray-6: var(--dark-gray-6);
  --color-dark-gray-7: var(--dark-gray-7);
  --color-dark-gray-8: var(--dark-gray-8);
  --color-medium-dark-gray: var(--medium-dark-gray);
  --color-medium-gray: var(--medium-gray);
  --color-light-gray-1: var(--light-gray-1);
  --color-light-gray-2: var(--light-gray-2);
  --color-light-gray-3: var(--light-gray-3);
  --color-light-gray-4: var(--light-gray-4);
  --color-very-light-gray: var(--very-light-gray);
  --color-near-white: var(--near-white);
  --color-image-bg: var(--image-bg);

  --font-Space_Grotesk: var(--font-Space_Grotesk);
  --font-IBM_Plex_Mono: var(--font-IBM_Plex_Mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border-color;
  }

  * {
    @apply transition-all duration-300;
  }
  body {
    @apply bg-darkest-gray relative text-white;
  }
  button {
    @apply not-disabled:cursor-pointer;
  }
}

@layer utilities {
  .input-box {
    @apply placeholder:text-light-gray-1 text-very-light-gray bg-dark-gray-2 focus-visible:border-border-color not-[.dark]:bg-dark-gray-2 not-[.dark]:focus-visible:border-dark-gray-2! w-full appearance-none rounded-lg border-2 border-transparent p-4 text-base leading-[1.4em] font-medium transition-all duration-300 outline-none;
  }
  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

* {
  font-family: var(--font-Space_Grotesk);
}
html {
  scroll-behavior: smooth !important;
}

html,
:host {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Scroll bar customization */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--darkest-gray);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray-6);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-gray-7);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}
